.address-lookup-container {
  position: sticky;
  top: 0;
}

.address-lookup-container input::placeholder {
  color: white;
}

.address-lookup-container input {
  background: transparent;
  color: white;
  width: 100%;
  padding: 10px;
}
