input.pac-target-input {
  width: 100%;
}

.address-lookup-container {
  padding: 10px;
  background: #416cbb;
}

.address-lookup-container input::placeholder {
  color: white;
}

.address-lookup-container input {
  background: transparent;
  color: white;
  padding: 10px;
}
